@using QFRMS.Services.Utils
@using QFRMS.Data.ViewModels
@model PaginatedList<UsersViewModel>
@{
    int StartIndex = ((Model.PageIndex - 1) * Model.PageSize) + 1;
    int LastIndex = Model.PageIndex * Model.PageSize;
    LastIndex = (LastIndex > Model.TotalItems) ? Model.TotalItems : LastIndex;
}

@* Pagination Variables to pass to JQuery *@
<input type="hidden" id="StartIndex" value="@StartIndex" />
<input type="hidden" id="LastIndex" value="@LastIndex" />
<input type="hidden" id="PageIndex" value="@Model.PageIndex"/>
<input type="hidden" id="TotalItems" value="@Model.TotalItems" />
<input type="hidden" id="PrevFlag" value="@Model.HasPreviousPage.ToString()" />
<input type="hidden" id="NextFlag" value="@Model.HasNextPage.ToString()" />

@{
    foreach (var item in Model)
    {
        <tr>
            <td>@item.FullName</td>
            <td>@item.UserName</td>
            <td>@item.Role</td>
            <td class="action">
                <a class="nav-link btn btn-primary no-glow me-1" asp-controller="Account" asp-action="EditAccount" asp-route-id="@item.Id">Edit</a>

                @if (User.Identity != null && User.Identity.Name != item.UserName)
                {
                    <a class="nav-link btn btn-danger no-glow" asp-controller="Account" asp-action="DeleteModal" asp-route-id="@item.Id"
                       data-bs-toggle="modal" data-bs-target="@("#deleteUser-"+item.Id)">
                        Delete
                    </a>
                    <partial name="_DeleteModal" model="item" />
                }
                else
                {
                    <span class="d-inline-block" data-toggle="tooltip" data-placement="top" title="You can't delete your own account!">
                        <button type="button" class="nav-link btn btn-danger disabled no-glow" >
                            Delete
                        </button>
                    </span>
                }
            </td>
        </tr>
    }
}