@using QFRMS.Services.Utils
@using QFRMS.Data.ViewModels
@model PaginatedList<MemoListViewModel>
@{
    int StartIndex = ((Model.PageIndex - 1) * Model.PageSize) + 1;
    int LastIndex = Model.PageIndex * Model.PageSize;
    LastIndex = (LastIndex > Model.TotalItems) ? Model.TotalItems : LastIndex;
}

@* Pagination Variables to pass to JQuery *@
<input type="hidden" id="StartIndex" value="@StartIndex" />
<input type="hidden" id="LastIndex" value="@LastIndex" />
<input type="hidden" id="PageIndex" value="@Model.PageIndex" />
<input type="hidden" id="TotalItems" value="@Model.TotalItems" />
<input type="hidden" id="PrevFlag" value="@Model.HasPreviousPage.ToString()" />
<input type="hidden" id="NextFlag" value="@Model.HasNextPage.ToString()" />

@{
    foreach (var item in Model)
    {
        <tr>
            <td>
                <a class="memo-name" onclick="ShowMemo(@item.Id)">@item.Name</a>
            </td>
            <td>@item.DateUploaded</td>
            @if (User.IsInRole("Admin"))
            {
                <td class="action">
                    <a class="nav-link btn btn-danger no-glow mx-auto" data-bs-toggle="modal" data-bs-target="@("#deleteModal-" + item.Id)">
                        Delete
                    </a>
                    <partial name="_DeleteModal" model="item" />
                </td>
            }
        </tr>
    }
}