@using QFRMS.Data.DTOs
@using static QFRMS.Data.Enums.EnumHelper;
@model CreateBatch
@{
    ViewData["Title"] = "Create Batch";
}
<div class="page-header mx-auto">
    <div class="header">
        <img src="~/icons/building.svg" class="header-icon" />
        <h2 class="header-title">BATCH</h2>
    </div>
    <div class="header-hr"></div>
</div>
<h2 class="page-banner">CREATE BATCH</h2>
<div class="page-body mx-auto">
    <div class="row body-header title">
        <div class="col d-flex justify-content-start align-items-center">
            <h4 class="body-title">Batch Detail</h4>
            <span class="required-message required">Please fill-up the Mandatory Fields</span>
        </div>
        <div class="col d-flex justify-content-end align-items-center">
            <button class="btn btn-back no-glow">
                @if(Model.FromCoursePage)
                {
                    <a class="nav-link d-flex" asp-area="" asp-controller="Course" asp-action="Details" asp-route-Id="@Model.CourseId">
                        <img src="~/icons/back.svg" class="icons" />
                        Back
                    </a>
                }
                else
                {
                    <a class="nav-link d-flex" asp-area="" asp-controller="Batch" asp-action="Index">
                        <img src="~/icons/back.svg" class="icons" />
                        Back
                    </a>
                }
            </button>
        </div>
    </div>
    <form asp-action="CreateBatch" enctype="multipart/form-data" method="post" id="form" class="form">
        <input asp-for="FromCoursePage" type="hidden" value="@Model.FromCoursePage" />
        <div asp-validation-summary="ModelOnly" class="row text-danger" role="alert"></div>
        <div class="row mt-2">
            <div class="col-8 pe-0">
                <div class="form-group">
                    <label asp-for="CourseId" class="control-label required"></label>
                    <select asp-for="CourseId" class="form-select">
                        @if(Model.CourseList != null)
                        {   
                            <option selected disabled value="">Choose...</option>
                            foreach(var course in Model.CourseList)
                            {
                                <option value="@course.CourseId">@course.Name</option>
                            }
                        }
                    </select>
                </div>
                <span asp-validation-for="CourseId" class="row text-center text-danger"></span>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="TrainorId" class="control-label required"></label>
                    <select asp-for="TrainorId" class="form-select">
                        @if (Model.TrainorList != null)
                        {
                            <option selected disabled value="">Choose...</option>
                            foreach (var trainor in Model.TrainorList)
                            {
                                <option value="@trainor.TrainorId">@trainor.Name</option>
                            }
                        }
                    </select>
                </div>
                <span asp-validation-for="TrainorId" class="row text-center text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-4 pe-0">
                <div class="form-group">
                    <label asp-for="LearningDelivery" class="control-label required"></label>
                    <select asp-for="LearningDelivery" class="form-select">
                        <option selected disabled value="">Choose...</option>
                        @{
                            foreach(var LD in Enum.GetValues<LearningDelivery>())
                            {
                                        <option value="@LD">@GetEnumDescription(LD)</option>
                            }
                        }
                    </select>
                </div>
                <span asp-validation-for="LearningDelivery" class="row text-center text-danger"></span>
            </div>
            <div class="col-4 pe-0">
                <div class="form-group">
                    <label asp-for="LearningMode" class="control-label required"></label>
                    <select asp-for="LearningMode" class="form-select">
                        <option selected disabled value="">Choose...</option>
                        @{
                            foreach (var LM in Enum.GetValues<LearningMode>())
                            {
                                        <option value="@LM">@GetEnumDescription(LM)</option>
                            }
                        }
                    </select>
                </div>
                <span asp-validation-for="LearningMode" class="row text-center text-danger"></span>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="RQMNumber" class="control-label required"></label>
                    <input asp-for="RQMNumber" class="form-control" style='text-transform:uppercase' />
                </div>
                <span asp-validation-for="RQMNumber" class="row text-center text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label asp-for="DateStart" class="control-label required"></label>
                    <input asp-for="DateStart" class="form-control datetimepicker" />
                    <label asp-for="DateEnd" class="control-label ms-3 me-2"></label>
                    <input asp-for="DateEnd" class="form-control datetimepicker" />
                    <label asp-for="TimeStart" class="control-label ms-3 me-2"></label>
                    <input asp-for="TimeStart" type="time" class="form-control datetimepicker" />
                    <label asp-for="TimeEnd" class="control-label ms-3 me-2"></label>
                    <input asp-for="TimeEnd" type="time" class="form-control datetimepicker" />
                    <h6 class="control-label ms-3 me-2 mb-0">Duration :</h6> <span id="Duration">--</span>&nbsp;Hours
                </div>
                <span asp-validation-for="DateStart" class="row text-center text-danger"></span>
                <span asp-validation-for="DateEnd" class="row text-center text-danger"></span>
                <span asp-validation-for="TimeStart" class="row text-center text-danger"></span>
                <span asp-validation-for="TimeEnd" class="row text-center text-danger"></span>
            </div>
        </div>
        <h4 class="body-title body-header mt-3">Deployment Detail</h4>
        <div class="row mt-2">
            <div class="col-6">
                <div class="form-group">
                    <label asp-for="EmployerName" class="control-label me-2"></label>
                    <input asp-for="EmployerName" class="form-control" />
                </div>
                <span asp-validation-for="EmployerName" class="row text-center text-danger"></span>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label asp-for="EmployerAddress" class="control-label me-2"></label>
                    <input asp-for="EmployerAddress" class="form-control" />
                </div>
                <span asp-validation-for="EmployerAddress" class="row text-center text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="Occupation" class="control-label me-2"></label>
                    <input asp-for="Occupation" class="form-control" />
                </div>
                <span asp-validation-for="Occupation" class="row text-center text-danger"></span>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="Classification" class="control-label me-2"></label>
                    <input asp-for="Classification" class="form-control" />
                </div>
                <span asp-validation-for="Classification" class="row text-center text-danger"></span>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="Salary" class="control-label me-2"></label>
                    <input asp-for="Salary" class="form-control" />
                </div>
                <span asp-validation-for="Salary" class="row text-center text-danger"></span>
            </div>
        </div>
        <h4 class="body-title body-header mt-3">Attached Documents</h4>
        <div class="row mt-2">
            <div class="col-4half">
                <div class="form-group">
                    <label asp-for="NTP" class="control-label required"></label>
                    <input asp-for="NTP" class="form-control" accept=".pdf" />
                </div>
                <span asp-validation-for="NTP" class="row text-center text-danger"></span>
            </div>
            <div class="col-1half">
            </div>
            <div class="col-4half">
                <div class="form-group">
                    <label asp-for="Certificates" class="control-label me-2"></label>
                    <input asp-for="Certificates" class="form-control" accept=".pdf" />
                </div>
                <span asp-validation-for="Certificates" class="row text-center text-danger"></span>
            </div>
        </div>
        <div class="row form-footer">
            <div class="col footer-left">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <div class="col footer-right">
                <input type="reset" value="Reset" class="btn btn-warning" />
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            function GetDuration() {
                var courseId = $('#CourseId').find(":selected").val();

                $.ajax({
                    url: "/Course/GetCourseDuration",
                    type: "post",
                    data: { "courseId": courseId },
                    async: true,
                    success: function (data) {
                        $("#Duration").html(data);
                    }
                });
            }

            GetDuration();

            $('#CourseId').on('change', function () {
                GetDuration();
            });
        });
    </script>
    <partial name="_ValidationScriptsPartial" />
}